*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* --- globals  --- */
.dp-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column;
}

.d-none {
  display: none !important;
}

/* --- content container --- */

.container {
  width: 100vw;
  height: 100vh;
  background: #f6f7f8;
  position: relative;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 232px);
  height: 96px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 232px;
  height: 100%;
  padding: 4rem 0rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: #2a3647;
}

main {
  z-index: 0;
  position: absolute;
  top: 96px;
  left: 232px;
  width: calc(100% - 232px);
  max-width: calc(90rem - 14.5rem);
  height: calc(100% - 96px);
  min-height: calc(100vh - 6rem);
  overflow-y: auto;
}

h1 {
  color: #000;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

small {
  font-size: 12px;
}

a {
  text-decoration: none;
}

/* --- font design for all input elements --- */

.input-field,
.dropdown,
.button,
.button-w-icon,
.button-secondary,
.button-secondary-w-icon {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/* --- Text input field with icon --- */

.input-container {
  display: flex;
  align-items: center;
  width: 440px;
  padding: 12px 21px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background: #fff;
  cursor: text;
}

.input-container:focus-within {
  border: 1px solid #29abe2;
}

.input-field {
  flex-shrink: 0;
  flex: 1;
  border: none;
}

.input-field::placeholder {
  color: #d1d1d1;
}

.input-field:focus {
  outline: none;
}

.input-container img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/* --- Dropdown --- */

.dropdown {
  width: 440px;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background: #fff;
}

/* --- Buttons --- */

.button,
.button-w-icon {
  background-color: #2a3647;
  color: #fff;
  padding: 15px 24px;
  border: 1px solid #2a3647;
  border-radius: 8px;
  font-size: 21px;
  font-weight: 700;
}

.button-w-icon {
  padding: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.button:hover,
.button-w-icon:hover {
  cursor: pointer;
  background-color: #29abe2;
  border: 1px solid #29abe2;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.button-secondary,
.button-secondary-w-icon {
  background: transparent;
  color: #000;
  padding: 15px 24px;
  border: 1px solid #2a3647;
  border-radius: 8px;
  font-size: 21px;
  font-weight: 700;
}

.button-secondary-w-icon {
  padding: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.button-secondary:hover,
.button-secondary-w-icon:hover {
  cursor: pointer;
  color: #29abe2;
  border: 1px solid #29abe2;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.button-secondary-w-icon:hover img {
  filter: brightness(0) saturate(100%) invert(64%) sepia(34%) saturate(6235%) hue-rotate(169deg) brightness(105%) contrast(77%);
}


form:invalid [type="submit"] {
  pointer-events: none;
  border: 1px solid #999999;
  background-color: #CCCCCC;
  color: #666666;
}


/* --- Header design --- */

#header_mobile_logo_container {
  display: none;
}

.header_icons_container {
  display: flex;
  align-items: center;
  gap: 16px;
}

#header_help_icon {
  content: url("assets/img/icons/help_default.svg");
  width: 32px;
  height: 32px;
}

#header_help_icon:hover {
  cursor: pointer;
  content: url("assets/img/icons/help_hover.svg");
  width: 32px;
  height: 32px;
}

.header_user_initials_container {
  width: 56px;
  height: 56px;
  border: 3px solid #2a3647;
  border-radius: 559px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header_user_initials_box {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 559px;
  background: var(--white, #fff);
}

.header_user_initials_box:hover {
  cursor: pointer;
  background: linear-gradient(0deg,
      rgba(12, 46, 98, 0.12) 0%,
      rgba(12, 46, 98, 0.12) 100%),
    #fff;
}

.header_user_initials {
  width: 27.944px;
  height: 14.238px;
  flex-shrink: 0;
}

#submenu_container {
  position: absolute;
  right: 0;
  top: 96px;
  display: none;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px 0px 20px 20px;
  background: var(--version-2-main-color, #2a3647);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: all 100ms ease-out;
}

.show_submenu {
  display: flex !important;
}

.submenu_button {
  display: flex;
  width: 100%;
  height: 46px;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  transition: all 100ms ease-in;
}

.submenu_button:hover {
  cursor: pointer;
  background: #2a3d59;
}

/*--- Header Responsive --- */

@media screen and (max-width: 1024px) {
  header {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 20px 16px;
    z-index: 20;
  }

  #header_mobile_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #header_mobile_logo {
    width: 32px;
    height: 39.016px;
  }

  #header_headline {
    display: none;
  }

  #header_help_icon {
    display: none;
  }

  .header_user_initials_container {
    width: auto;
    height: auto;
  }

  .header_user_initials_box {
    width: 40px;
    height: 40px;
  }
}

/*--- Header Design end--- */

/* --- Sidebar Design --- */

.sidebar_logo {
  width: 100.034px;
  height: 121.966px;
  flex-shrink: 0;
}

.sidebar_links_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.95rem;
  width: 100%;
}

#main-nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 0.95rem;
}

.sidebar_link {
  display: flex;
  width: 232px;
  height: 46px;
  padding: 8px 56px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  transition: all 100ms ease-in;
}

.sidebar_link a {
  text-decoration: none;
  color: #cdcdcd;
}

.sidebar_link:hover {
  cursor: pointer;
  background: #2a3d59;
}

.sidebar_link_typography {
  color: #cdcdcd;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.menu_icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.sidebar_link_active {
  color: white !important;
  background-color: #091931 !important;
  cursor: pointer;
}

.sidebar_link_active:hover {
  cursor: default;
}

.sidebar_footer_container {
  display: flex;
  padding: 0px 0px 0px 52px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.sidebar_footer_buttons {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  color: #a8a8a8;

  /* Typography --icon */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.sidebar_footer_buttons:hover {
  cursor: pointer;
  color: var(--Ligth-blue, #29abe2);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.header_icons_container {
  width: 40px;
  height: 40px;
  justify-content: center;
  flex-shrink: 0;
}

/*--- Sidebar Responsive --- */
@media screen and (max-width: 1024px) {
  nav {
    position: fixed;
    top: auto;
    bottom: 0;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 10;
  }

  .sidebar_logo {
    display: none;
  }

  #main-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .sidebar_links_container {
    display: flex;
    height: 80px;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }

  .sidebar_category_container {
    display: flex;
    width: 80px;
    height: 100%;
    padding: 4px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }

  .sidebar_link {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .sidebar_link_active {
    border-radius: 16px;
  }

  .sidebar_link_typography {
    font-size: 14px;
  }

  .menu_icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  .sidebar_button {
    display: flex;
    width: 76px;
    height: 76px;
    padding: 15px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
  }

  .sidebar_button:hover {
    cursor: pointer;
    background: #2a3d59;
  }

  .sidebar_button_icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  .sidebar_footer_container {
    display: none;
  }

  /* --- Sidebar responsive end --- */

  /* --- Main responsive --- */
  main {
    z-index: 0;
    position: absolute;
    top: 80px;
    left: 0;
    height: calc(100% - 80px - 80px);
    width: 100%;
  }
}

/* --- Main responsive end --- */

@media screen and (max-width: 480px) {

  main {
    padding-bottom: 80px;
    /* padding: 2.85rem 1rem 4rem 1rem; */
    height: calc(100vh - 80px);
  }

  nav {
    display: flex;
    max-width: 37rem;
    width: 100%;
    padding: 0.125rem 0.875rem;
    justify-content: space-between;
    align-items: center;
  }

  #main-nav-links {
    gap: 0;
  }

  .sidebar_category_container {
    padding: 0;
  }

  .input-container {
    gap: 4px;
  }

  .input-container img {
    flex-shrink: unset;
  }
}