<div id="header_mobile_logo_container">
  <img id="header_mobile_logo" src="assets/img/logo_dark.svg" />
</div>
<span id="header_headline">Kanban Project Management Tool</span>
<div class="header_icons_container">
  <img id="header_help_icon" />
  <div
    id="header_user_initials_container"
    class="header_user_initials_container"
    onclick="showSubmenu()"
  >
    <div class="header_user_initials_box">
      <!-- <img class="header_user_initials" src="assets/img/icons/Group 9.svg" /> -->
    </div>
  </div>
</div>
<div id="submenu_container">
  <a href="legality.html"
    ><div class="submenu_button sidebar_link_typography">Legal Notice</div></a
  >
  <a href="privacy.html"
    ><div class="submenu_button sidebar_link_typography">Privacy Policy</div></a
  >
  <a href="index.html"
    ><div class="submenu_button sidebar_link_typography">Log out</div></a
  >
</div>
