<img class="sidebar_logo" src="assets/img/logo.svg" />
<div class="sidebar_links_container">
  <div id="main-nav-links">
    <div class="sidebar_category_container">
      <a href="summary.html" class="sidebar_link sidebar_link_typography" id="sidebar_link_summary">
        <img class="menu_icon" id="menu_icon_summary" src="assets/img/icons/summary_icon_default.svg">
        Summary
      </a>
    </div>

    <div class="sidebar_category_container">
      <a href="add_task.html" class="sidebar_link sidebar_link_typography" id="sidebar_link_add_task">
        <img class="menu_icon" id="menu_icon_add_task" src="assets/img/icons/add_task_icon_default.svg">
        Add Task
      </a>
    </div>

    <div class="sidebar_category_container">
      <a href="board.html" class="sidebar_link sidebar_link_typography" id="sidebar_link_board">
        <img class="menu_icon" id="menu_icon_board" src="assets/img/icons/board_icon_default.svg">
        Board
      </a>
    </div>
    <div class="sidebar_category_container">
      <a href="contacts.html" class="sidebar_link sidebar_link_typography" id="sidebar_link_contacts">
        <img class="menu_icon" id="menu_icon_contacts" src="assets/img/icons/contacts_icon_default.svg">
        Contacts
      </a>
    </div>
  </div>
</div>
<div class="sidebar_footer_container">
  <div onclick="openNewSite('privacy')" id="privacy-link" style="text-decoration: none;" class="sidebar_footer_buttons">
    Privacy Policy</div>

  <div onclick="openNewSite('legality')" id="legality-link" style="text-decoration: none;"
    class="sidebar_footer_buttons">Legal notice</div>
</div>